In [4]:
import pandas as pd
import functions as fn
import numpy as np
import matplotlib.pyplot as plt

In [6]:
tickers = pd.read_csv("data/nasdaq_comps_2016-2020.csv")

In [7]:
tickers = list(set(tickers['2019']).intersection(set(tickers['2018'])))
etf = 'QQQ'
start = '2018-01-01'
end = '2018-12-31'
cointegrationResultsIndividual = fn.runCointTestIndividual(etf, tickers, start, end)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
CTAS
[*********************100%***********************]  1 of 1 completed
MCHP
[*********************100%***********************]  1 of 1 completed
BMRN
[*********************100%***********************]  1 of 1 completed
HSIC
[*********************100%***********************]  1 of 1 completed
MXIM
[*********************100%***********************]  1 of 1 completed
ALGN
[*********************100%***********************]  1 of 1 completed
AMZN
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CTRP: No data found, symbol may be delisted
err
[*********************100%***********************]  1 of 1 completed
MSFT
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MYL: No data found, symbol may be delisted
err
[*********************100%***********************]  1 of 1 completed
JBHT
[*********************100%***********************]  1 of 1 completed
VRTX
[*********************100%***********************]  1 of 1 completed
FISV
[*********************100%***********************]  1 of 1 completed
CTXS
[*********************100%***********************]  1 of 1 completed
AMGN
[*********************100%***********************]  1 of 1 completed
LBTYK
[*********************100%***********************]  1 of 1 completed
WDAY
[*********************100%***********************]  1 of 1 completed
AVGO
[*********************100%***********************]  1 of 1 completed
AMAT
[*********************100%***********************]  1 of 1 completed
VRSK
[*********************100%***********************]  1 of 1 completed
PYPL
[*********************100%***********************]  1 of 1 completed
SWKS
[*********************100%***********************]  1 of 1 completed
ORLY
[*********************100%***********************]  1 of 1 completed
CTSH
[*********************100%***********************]  1 of 1 completed
INTU
[*********************100%***********************]  1 of 1 completed
ASML
[*********************100%***********************]  1 of 1 completed
AAPL
[*********************100%***********************]  1 of 1 completed
EA
[*********************100%***********************]  1 of 1 completed
BIIB
[*********************100%***********************]  1 of 1 completed
CSCO
[*********************100%***********************]  1 of 1 completed
ADBE
[*********************100%***********************]  1 of 1 completed
EBAY
[*********************100%***********************]  1 of 1 completed
PAYX
[*********************100%***********************]  1 of 1 completed
CERN
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- FOXA: Data doesn't exist for startDate = 1514793600, endDate = 1546243200
err
[*********************100%***********************]  1 of 1 completed
INTC
[*********************100%***********************]  1 of 1 completed
SNPS
[*********************100%***********************]  1 of 1 completed
CHTR
[*********************100%***********************]  1 of 1 completed
ADSK
[*********************100%***********************]  1 of 1 completed
LBTYA
[*********************100%***********************]  1 of 1 completed
MDLZ
[*********************100%***********************]  1 of 1 completed
ISRG
[*********************100%***********************]  1 of 1 completed
NFLX
[*********************100%***********************]  1 of 1 completed
TXN
[*********************100%***********************]  1 of 1 completed
MU
[*********************100%***********************]  1 of 1 completed
GILD
[*********************100%***********************]  1 of 1 completed
TMUS
[*********************100%***********************]  1 of 1 completed
ALXN
[*********************100%***********************]  1 of 1 completed
JD
[*********************100%***********************]  1 of 1 completed
CDNS
[*********************100%***********************]  1 of 1 completed
CSX
[*********************100%***********************]  1 of 1 completed
DLTR
[*********************100%***********************]  1 of 1 completed
HAS
[*********************100%***********************]  1 of 1 completed
NTES
[*********************100%***********************]  1 of 1 completed
TSLA
[*********************100%***********************]  1 of 1 completed
BKNG
[*********************100%***********************]  1 of 1 completed
LRCX
[*********************100%***********************]  1 of 1 completed
MAR
[*********************100%***********************]  1 of 1 completed
CHKP
[*********************100%***********************]  1 of 1 completed
COST
[*********************100%***********************]  1 of 1 completed
err
[*********************100%***********************]  1 of 1 completed
ILMN
[*********************100%***********************]  1 of 1 completed
IDXX
[*********************100%***********************]  1 of 1 completed
ULTA
[*********************100%***********************]  1 of 1 completed
FAST
[*********************100%***********************]  1 of 1 completed
MNST
[*********************100%***********************]  1 of 1 completed
SBUX
[*********************100%***********************]  1 of 1 completed
EXPE
[*********************100%***********************]  1 of 1 completed
BIDU
[*********************100%***********************]  1 of 1 completed
WYNN
[*********************100%***********************]  1 of 1 completed
REGN
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SYMC: No data found, symbol may be delisted
err
[*********************100%***********************]  1 of 1 completed
ATVI
[*********************100%***********************]  1 of 1 completed
ADI
[*********************100%***********************]  1 of 1 completed
MELI
[*********************100%***********************]  1 of 1 completed
XLNX
[*********************100%***********************]  1 of 1 completed
GOOG
[*********************100%***********************]  1 of 1 completed
SIRI
[*********************100%***********************]  1 of 1 completed
AAL
[*********************100%***********************]  1 of 1 completed
PCAR
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- CELG: No data found, symbol may be delisted
err
[*********************100%***********************]  1 of 1 completed
QCOM
[*********************100%***********************]  1 of 1 completed
WBA
[*********************100%***********************]  1 of 1 completed
TTWO
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- FOX: Data doesn't exist for startDate = 1514793600, endDate = 1546243200
err
[*********************100%***********************]  1 of 1 completed
INCY
[*********************100%***********************]  1 of 1 completed
KLAC
[*********************100%***********************]  1 of 1 completed
FB
[*********************100%***********************]  1 of 1 completed
ADP
[*********************100%***********************]  1 of 1 completed
NVDA
[*********************100%***********************]  1 of 1 completed
WDC
[*********************100%***********************]  1 of 1 completed
KHC
[*********************100%***********************]  1 of 1 completed
ROST

In [8]:
cointegrationResultsIndividual.head(10)

   ticker    t-stat      pval
52    HAS -3.476138  0.034570
26   AAPL -3.268703  0.059170
83   TTWO -3.186715  0.072178
62   IDXX -3.156778  0.077458
66   SBUX -3.125705  0.083256
0    CTAS -3.089389  0.090454
47   ALXN -2.892722  0.137956
5    ALGN -2.865327  0.145781
2    BMRN -2.797488  0.166485
32   PAYX -2.703154  0.198446

In [9]:
subset = cointegrationResultsIndividual.loc[cointegrationResultsIndividual['pval'] <= 0.2]
tickers = subset['ticker'].tolist()
etf = 'QQQ'
start = '2018-01-01'
end = '2018-12-31'
synthetic_asset_rank = fn.runCointTestBasketsEG(etf, tickers, start, end)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  10 of 10 completed
0 done, out of a total of  1013
500 done, out of a total of  1013
1000 done, out of a total of  1013

In [10]:
synthetic_asset_rank.head()

                                                 ticker    t-stat      pval
973     (HAS, AAPL, TTWO, SBUX, CTAS, ALXN, ALGN, PAYX) -5.112294  0.000102
857           (HAS, AAPL, TTWO, SBUX, CTAS, ALXN, ALGN) -5.082241  0.000116
972     (HAS, AAPL, TTWO, SBUX, CTAS, ALXN, ALGN, BMRN) -5.054691  0.000130
984     (HAS, AAPL, SBUX, CTAS, ALXN, ALGN, BMRN, PAYX) -5.047519  0.000135
1008  (HAS, AAPL, TTWO, SBUX, CTAS, ALXN, ALGN, BMRN... -5.047064  0.000135

In [13]:
# Start from 01-01-2019 and end at 12-31-2019
qqq = pd.read_csv("data/qqqMinute2019.csv")
has = pd.read_csv("data/hasMinute2019.csv")
aapl = pd.read_csv("data/aaplMinute2019.csv")
ttwo = pd.read_csv("data/ttwoMinute2019.csv")
sbux = pd.read_csv("data/sbuxMinute2019.csv")
ctas = pd.read_csv("data/ctasMinute2019.csv")
alxn = pd.read_csv("data/alxnMinute2019.csv")
algn = pd.read_csv("data/algnMinute2019.csv")
payx = pd.read_csv("data/payxMinute2019.csv")

In [14]:
qqq = qqq.set_index('date_time')
qqq = qqq.rename(columns={'close': 'qqqclose'})

has = has.set_index('date_time')
has = has.rename(columns={'close': 'hasclose'})

aapl = aapl.set_index('date_time')
aapl = aapl.rename(columns={'close': 'aaplclose'})

ttwo = ttwo.set_index('date_time')
ttwo = ttwo.rename(columns={'close': 'ttwoclose'})

sbux = sbux.set_index('date_time')
sbux = sbux.rename(columns={'close': 'sbuxclose'})

ctas = ctas.set_index('date_time')
ctas = ctas.rename(columns={'close': 'ctasclose'})

alxn = alxn.set_index('date_time')
alxn = alxn.rename(columns={'close': 'alxnclose'})

algn = algn.set_index('date_time')
algn = algn.rename(columns={'close': 'algnclose'})

payx = payx.set_index('date_time')
payx = payx.rename(columns={'close': 'payxclose'})

data = qqq[['qqqclose']].join([has[['hasclose']], aapl[['aaplclose']], ttwo[['ttwoclose']], sbux[['sbuxclose']], 
                               ctas[['ctasclose']], alxn[['alxnclose']], algn[['algnclose']], payx[['payxclose']]], 
                              how='outer')
data = data.dropna()
data.tail(20)

,qqqclose,hasclose,aaplclose,ttwoclose,sbuxclose,ctasclose,alxnclose,algnclose,payxclose
2019-12-31 15:30:00,212.345,105.7300,293.1700,122.2000,87.6850,268.2800,108.0100,277.8000,84.8400
2019-12-31 15:31:00,212.330,105.7100,293.1768,122.1600,87.7050,268.3100,107.9500,277.5900,84.8500
2019-12-31 15:32:00,212.355,105.6972,293.1400,122.1200,87.7130,268.3200,107.9500,277.8300,84.8600
2019-12-31 15:33:00,212.360,105.6900,293.0200,122.1800,87.7250,268.4400,107.9550,277.8800,84.8700
2019-12-31 15:34:00,212.365,105.6900,293.0165,122.2200,87.7700,268.4900,107.9700,277.8200,84.8900
2019-12-31 15:35:00,212.385,105.6800,293.0170,122.1800,87.7650,268.4800,107.9850,278.1000,84.9100
2019-12-31 15:36:00,212.370,105.6500,292.9450,122.2000,87.7600,268.4793,108.0387,278.0950,84.8800
2019-12-31 15:37:00,212.350,105.6200,293.0400,122.1700,87.7600,268.4900,107.9800,277.8700,84.8800
2019-12-31 15:38:00,212.385,105.6200,293.1316,122.1298,87.7600,268.5600,108.0000,278.1000,84.9000
2019-12-31 15:39:00,212.355,105.6044,293.0800,122.1050,87.7500,268.5800,108.0300,278.0050,84.9300
2019-12-31 15:40:00,212.365,105.6000,293.0850,122.1000,87.7800,268.5400,108.0700,278.0500,84.9600
2019-12-31 15:41:00,212.400,105.5905,293.1800,122.1000,87.7700,268.8500,108.1340,278.2650,84.9300
2019-12-31 15:42:00,212.410,105.5800,293.2000,122.1067,87.7800,268.7100,108.0639,278.2900,84.9900
2019-12-31 15:43:00,212.415,105.5800,293.2600,122.1300,87.8200,268.7476,108.1101,278.2900,85.0000
2019-12-31 15:44:00,212.450,105.6100,293.3600,122.1300,87.8550,268.7650,108.1300,278.3600,84.9833
2019-12-31 15:45:00,212.450,105.5900,293.5099,122.1200,87.8600,268.7300,108.1300,278.5800,84.9900
2019-12-31 15:46:00,212.490,105.6300,293.4300,122.1500,87.8547,268.8400,108.1300,278.3543,84.9500
2019-12-31 15:47:00,212.495,105.5500,293.4270,122.1584,87.8550,268.7700,108.1176,278.2500,84.9450
2019-12-31 15:48:00,212.460,105.5400,293.3350,122.2000,87.8450,268.8000,108.1645,278.4100,84.9600
2019-12-31 15:49:00,212.430,105.5100,293.2700,122.2100,87.8150,268.7950,108.1300,278.4700,84.9300

In [15]:
data.shape

(91006, 9)

In [16]:
syntheticAssetLogPrice = data[['hasclose', 'aaplclose', 'ttwoclose', 'sbuxclose', 
                               'ctasclose', 'alxnclose', 'algnclose', 'payxclose']].apply(np.log)
qqqLogPrice = np.log(data['qqqclose'].values)

In [18]:
qqqLog = pd.DataFrame()
qqqLog['qqqclose'] = qqqLogPrice

In [19]:
syntheticAssetLogPrice.to_csv('data/synthetic_log_prices.csv', index=False, encoding='utf-8')
qqqLog.to_csv('data/qqq_log_price.csv', index=False, encoding='utf-8')